.new {
	padding-bottom: 10px;
	border-bottom: 3px solid #DDD;
	margin-bottom: 30px;
}

.new .new-date {
	font-size: 14px;
	font-weight: bold;
	color: #888;
}

.new .new-title {
	margin-top: 5px !important;
	margin-bottom: 20px;
	font-size: 30px;
}

.new .new-text {
	font-size: 16px;
	text-align: justify;
	line-height: 32px;
}
