#game-ratings-page {}

#game-ratings-platforms {
	margin: 10px 0;
}

#game-ratings-platforms .platform-btn {
	background-color: #EAEAEA;
	font-size: 13px;
}

#game-ratings-platforms .platform-btn .item-platform {
	width: 14px;
	height: 14px;
}

#game-ratings-page-firstToRate {
	margin: 5px 0 25px;
}

@media (max-width: 991px) {

	#game-ratings-page ul#game-ratings-page-list > li {
		float: none;
		margin-right: 0;
	}

}