:root {
	--filter-toggleButton-background: transparent;
	--filter-toggleButton-border-color: var(--tertiary-color);
	--filter-toggleButton-color: var(--secondary-font-color);
	--filter-toggleButton-hover-background-color: var(--secondary-color);
	--filter-toggleButton-hover-border-color: var(--secondary-color);
	--filter-alphabet-background: transparent;
	--filter-alphabet-border-color: var(--tertiary-color);
	--filter-alphabet-color: var(--secondary-font-color);
	--filter-alphabet-background-color-hover-active: var(--site-color);
	--filter-alphabet-font-color-hover-active: var(--site-secondary-color);

	--dark-mode-filter-toggleButton-background-color: var(--dark-mode-secondary-color);
	--dark-mode-filter-toggleButton-border-color: var(--dark-mode-secondary-color);
	--dark-mode-filter-toggleButton-color: var(--dark-mode-secondary-font-color);
	--dark-mode-filter-toggleButton-hover-background-color: var(--dark-mode-tertiary-color);
	--dark-mode-filter-toggleButton-hover-border-color: var(--dark-mode-tertiary-color);
	--dark-mode-filter-alphabet-background-color: var(--dark-mode-secondary-color);
	--dark-mode-filter-alphabet-border-color: var(--dark-mode-secondary-color);
	--dark-mode-filter-alphabet-color: var(--dark-mode-secondary-font-color);
	--dark-mode-filter-alphabet-background-color-hover-active: var(--site-color);
	--dark-mode-filter-alphabet-font-color-hover-active: var(--site-secondary-color);
}

.filter {
	overflow: hidden;
}

.filter-form {}

.filter-form-toggleButton {
	float: left;
	padding: 6px 14px;
	background: var(--filter-toggleButton-background);
	border-radius: 9px;
	border: 1px solid var(--filter-toggleButton-border-color);
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	color: var(--filter-toggleButton-color);
}

.dark .filter-form-toggleButton {
	background-color: var(--dark-mode-filter-toggleButton-background-color);
	border-color: var(--dark-mode-filter-toggleButton-border-color);
	color: var(--dark-mode-filter-toggleButton-color);
}

.filter-form-toggleButton:focus {
	outline: none;
}

.filter-form-toggleButton:hover {
	background-color: var(--filter-toggleButton-hover-background-color);
	border-color: var(--filter-toggleButton-hover-border-color);
}

.filter-form-toggleButton.focused {
	background-color: var(--filter-toggleButton-hover-background-color) !important;
	border-color: var(--filter-toggleButton-hover-border-color) !important;
}

.dark .filter-form-toggleButton:hover {
	background-color: var(--dark-mode-filter-toggleButton-hover-background-color);
	border-color: var(--dark-mode-filter-toggleButton-hover-border-color);
}

.dark .filter-form-toggleButton.focused {
	background-color: var(--dark-mode-filter-toggleButton-hover-background-color) !important;
	border-color: var(--dark-mode-filter-toggleButton-hover-border-color) !important;
}

.filter-form-toggleButton img {
	margin-top: -3px;
	width: 20px;
	height: 20px;
}

.filter-form-toggleTarget {
	display: none;
	margin-top: 10px;
}

.filter-actives {
	float: left;
	margin-left: 20px;
}

.filter-actives li {
	display: inline;
	margin-right: 6px;
}

.filter-actives li .badge {
    font-size: 14px;
    padding: 6px 9px 6px 10px;
}

.filter-actives li .badge .oi {
    margin-left: 5px;
}

.filter-actives li a:not(.filter-actives-clear) {}

.filter-form-order-bar-container {
	float: right;
}

.filter-form-order-bar {
	display: none;
}

ul.filter-form-filterBars {
	display: table;
	table-layout: fixed;
	width: 100%;
	overflow: hidden;
}

ul.filter-form-filterBars > li {
	display: table-cell;
}

ul.filter-form-filterBars > li:not(:last-child) {
	padding-right: 15px;
}

ul.filter-form-filterBars > li select,
ul.filter-form-filterBars > li .select2-container {
	width: 100% !important;
	font-size: 16px;
}

.filter-alphabet {
	display: table;
	margin-top: 20px;
	padding: 4px 8px;
	width: 100%;
	background: var(--filter-alphabet-background);
	border-radius: 9px;
	border: 1px solid var(--filter-alphabet-border-color);
	font-size: 15px;
	font-weight: bold;
}

.dark .filter-alphabet {
	background-color: var(--dark-mode-filter-alphabet-background-color);
	border-color: var(--dark-mode-filter-alphabet-border-color);
}

.filter-alphabet li {
	display: table-cell;
	text-align: center;
	padding: 0;
	margin: 0;
}

.filter-alphabet li a {
	color: var(--filter-alphabet-color);
	text-transform: uppercase;
	padding: 8px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 4px;
}

.dark .filter-alphabet li a {
	color: var(--dark-mode-filter-alphabet-color);
}

.filter-alphabet li a:hover,
.filter-alphabet li a.active {
	background-color: var(--filter-alphabet-background-color-hover-active);
	color: var(--filter-alphabet-font-color-hover-active);
}

.dark .filter-alphabet li a:hover,
.dark .filter-alphabet li a.active {
	background-color: var(--dark-mode-filter-alphabet-background-color-hover-active);
	color: var(--dark-mode-filter-alphabet-font-color-hover-active);
}

.dark .filter .select2-container--default .select2-selection--single {
	background-color: var(--dark-mode-filter-toggleButton-background-color);
	border-color: var(--dark-mode-filter-toggleButton-border-color);
}

.dark .filter .select2-container .select2-selection--single .select2-selection__rendered {
	color: var(--dark-mode-filter-toggleButton-color);
}

.filter .select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    width: 100% !important;
    color: var(--filter-toggleButton-color);
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
}

.dark .filter .select2-container .select2-search--inline .select2-search__field {
	color: var(--dark-mode-filter-toggleButton-color);
}
    
.filter .select2-container .select2-search--inline .select2-search__field::placeholder {
    color: #666;
    font-size: 15px;
    font-weight: bold;
}

.filter .select2-container .select2-search--inline .select2-search__field:focus::placeholder {
    color: #aaa;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

@media (max-width: 991px) {

    .filter-form-toggleButton:hover {
	    background: transparent;
    }

	ul.filter-form-filterBars {
		display: block;
	}

	ul.filter-form-filterBars > li {
		display: inline-block;
		float: left;
        width: 25%;
        margin-bottom: 10px;
	}
	
	ul.filter-form-filterBars > li:nth-child(7) {
	    padding-right: 15px;
    }
	
	#filter-alphabetRow {
		display: none;
	}
	
	#filter-toggleMobile {
        margin-top: 4px;
    }
    
    .filter-actives li {
	    float: left;
    }
    
	/*.filter-alphabet {
		display: none;
		overflow: hidden;
	}*/

	.filter-alphabet li {
		display: inline;
		float: left;
		font-size: 11px;
	}
	
}

@media (max-width: 767px) {

    ul.filter-form-filterBars {
        margin-bottom: -10px;
    }
    
    ul.filter-form-filterBars > li {
        width: 50%;

	}
	
	ul.filter-form-filterBars > li:nth-of-type(2n) {
	    padding-right: 0;
    }
    
    .filter-actives {
        clear: both;
	    margin: 0;
    }

}
