.env
.idea/
npm-debug.log
/vendor
/node_modules
/public/storage
/public/site/css
/public/site/fonts
/public/site/img
/public/site/js
/public/admin/css
/public/admin/fonts
/public/admin/img
/public/admin/js
storage/framework/views/*
storage/framework/sessions/*
storage/framework/cache/*
storage/logs/*
