#form-add-cover-description {
    font-size: 14px;
}

#form-add-create-developer-publisher-section {
    display: none;
}

#form-add-cover-preview {
	width: 112px;
	height: 150px;
	border-radius: 12px;
}

#form-add-cover-errorMessage {
	display: none;
}

@media (min-width: 768px) {

	.form-add-modes-group,
	.form-game-edit-modes-group {
		display: inline-block;
		margin-right: 10px;
	}

}
