#collections {}

#collections-search {
	text-align: center;
	margin: 20px 0;
}

#collections-search .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

#collections-search-form {
	margin: 15px auto 0;
	display: inline-block;
}

#collections-search-form-input {
    border-radius: 22px;
    margin-right: 8px;
}

#collections-search-form-button {}