.item-contribution {}

.item-contribution .item-user-picture,
.item-contribution .item-game-picture {
    float: left;
    margin-right: 10px;
}

.item-contribution img {
    width: 48px;
    height: 60px;
    box-shadow: 0 7px 8px -8px rgba(0, 0, 0, .8);
    border-radius: 16px;
}

.item-contribution-info {
    float: left;
    margin-top: 6px;
    font-size: 14px;
    line-height: normal;
    font-weight: bold;
}

.item-contribution-info-description {
    line-height: 20px;
}

.item-contribution-info-date {
    margin-top: 4px;
    font-size: 13px;
}