.item-user-picture {
    position: relative;
    display: inline-block;
    overflow: visible;
}

.item-user-picture-image {}

.item-user-picture-image-78x90 {
    width: 78px;
    height: 90px;
}

.item-user-picture-image-150x150 {
    width: 150px;
    height: 150px;
}

.item-user-picture-premium {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 24px;
    height: 24px;
    padding: 3px;
    background-color: #FFF;
    border-radius: 50%;
}

.item-user-picture-premium img {
    width: 18px;
    height: 18px;
    vertical-align: top;
}