.premium-buttons {
    margin-top: 20px;
}

.premium-button {
    padding: 15px 25px;
    font-size: 19px;
    text-transform: uppercase;
    box-shadow: 0 7px 8px -8px rgba(0, 0, 0, .8);
}

.premium-button:nth-child(1) {
    margin-right: 20px;
}

#premium-annuallyButton {}

@media (max-width: 767px) {
    
    .premium-buttons {}
    
    .premium-buttons .hideOnSmallScreen {
	    display: none;
    }
    
    .premium-button {
        padding: 12px 22px;
        font-size: 17px;
    }

    .premium-button:nth-child(1) {
        margin-right: 10px;
    }

}

@media (max-width: 479px) {
    
    .premium-buttons {}
    
    .premium-button {
        margin-bottom: 10px;
        padding: 8px 14px;
        font-size: 16px;
    }

    .premium-button:last-child {
        margin-bottom: 0;
    }

    .premium-button:nth-child(1) {
        margin-right: 0;
    }

}