#dialog #premium {
    padding-top: 40px;
}

#dialog #premium .premium-button {
    padding: 12px 18px;
    font-size: 17px;
}

#dialog #premium .premium-buttons .hideOnSmallScreen {
    display: none;
}

#dialog #premium h2 {
    font-size: 30px;
}

#dialog #premium .premium-icon {
    width: 32px;
    height: 32px;
}

#dialog #premium-header {
    margin-bottom: 10px;
}

#dialog #premium-image {
    margin: 40px auto 20px;
    width: 140px;
}

#dialog #premium-benefits {
    font-size: 20px;
}

#dialog #premium-benefits ul li#premium-benefits-inDevelopment {
    margin-top: 20px;
}

@media (max-width: 575px) {

    #dialog #premium .premium-button {
        padding: 8px 12px;
        font-size: 14px;
    }
    
    #dialog #premium #premium-monthlyButton {
        margin-right: 5px;
    }

    #dialog #premium h2 {
        font-size: 25px;
    }

    #dialog #premium .premium-icon {
        width: 26px;
        height: 26px;
    }

    #dialog #premium-header {
        margin-bottom: 0;
    }

    #dialog #premium-benefits {
        font-size: 18px;
    }

}